:root {
    --color-ligth-50: #F2F2F4;
    --color-ligth-100: #E2E2E4;

    --color-dark-700: #323234;

    --color-purple-500: #8548E8;
    --color-purple-600: #6825B0;

    --color-gradient: linear-gradient(360deg, #222224 0%, #8548E8 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    background-color: var(--color-ligth-100);
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#title{
    color:var(--color-dark-700);
    font-weight: 700;
    font-size: 30px;
}

#title span{
    color:var(--color-purple-500);
}

#input-box{
    display: flex;
    justify-content:center; 
    gap: 40px;
}

#input-field{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 40px 0px;
}

#input-field input{
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--color-purple-500);
    color: var(--color-dark-700);
    font-size: 24px;
    text-align: center;
    width: 200px;
    padding: 8px 0px;
}

#input-field input::-webkit-outer-spin-button,
#input-field input::-webkit-inner-spin-button {
    appearance: none;
}

#input-field input:focus {
    outline: none;
}

#input-field label{
   color: var(--color-dark-700);
   font-weight: 500;
   font-size: 18px;
   text-align: center;
}

#generator{
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-purple-500);
    font-weight: bold;
    font-size: 24px;
    color: var(--color-ligth-50);
    cursor: pointer;
}

#generator:hover{
    background-color: var(--color-purple-600);
}

#result{
    font-size: 50px;
    font-weight: bold;
    color: var(--color-dark-700);
}
